@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/form.css");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #1f1f1f;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

